@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
* {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}
.wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.first {
  width: 1000px;
  margin: 0 auto;
}
.first > hr {
  border-top: 3px solid #bbb;
  border-bottom: 1px solid #fff;
  margin-top: 30px;
}
.first > h1 {
  text-align: center;
  margin: 22px 0 0 0;
  font-size: 30px;
}
.farEast {
  height: 900px;
}
.farEast > h2 {
  font-size: 22px;
  margin: 40px 131px 20px 0;
}
.farImg {
}
.farImg > img {
}
.f1 {
  margin: 10px 0 0 10px;
  height: 200px;
}
.f2 {
  margin: 230px 0 0 -335px;
  height: 348px;
}
.f3 {
  margin: 10px 0 0 15px;
  height: 569px;
}
.f4 {
  height: 400px;
}
.f5 {
  height: 400px;
}
.f6 {
  height: 400px;
}

footer {
  height: 300px;
  overflow: hidden;
  background: #2c2c2c;
  color: #9c9d98;
  display: flex;
}
.f_div {
  margin: 0 auto;
  justify-content: center;
}
.f_div > h3 {
  font-size: 23px;
  color: #9c9d98;
}
.f_div > h3 > button {
  margin: 30px 0 0 820px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #9c9d98;
}
.hr1 {
  margin: 20px 0px 20px 0px;
}
.hr2 {
  margin: 50px 0 0 0;
  width: 30px;
}
.hr3 {
  margin: 0 0 0 300px;
  width: 30px;
}
.hr4 {
  margin: 0 0 0 700px;
  width: 30px;
}
footer p {
  color: #9c9d98;
}
.ft1 {
  margin: 10px 0 0 0;
}
.ft2 {
  margin: -40px 0 0 300px;
}
.ft3 {
  margin: -40px 0 0 700px;
}
.cpr {
  color: white;
  margin: 10px 0 0 0;
}
